body {
    font-family: 'Poppins', sans-serif;
}

.top-bg {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

.top-banner-text h1 {
    font-size: 50px;

}

.top-banner-text {
    text-align: center;
    color: white;
    padding: 100px;
}

.link-button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(rgb(255, 89, 89), tomato);
    padding: 15px 25px;
    border-radius: 5px;
}

.donate-today {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.special-1 h1 {
    font-size: 40px;
}

.special-1 p {
    color: #707070;
}

.donation-partition {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.first-partition {
    width: 65px;
    height: 60px;
    color: #575757;
    background-color: rgb(236, 244, 245);
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;
}

.second-partition {
    width: 65px;
    height: 60px;
    color: red;
    border: 2px solid red;
    background-color: rgb(238, 195, 202);
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;
}

.third-partition {
    width: 65px;
    height: 60px;
    color: #575757;
    background-color: rgb(236, 244, 245);
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;
}

.fourth-partition {
    width: 65px;
    height: 60px;
    color: #575757;
    background-color: rgb(236, 244, 245);
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;
}

.fifth-partition {
    width: 65px;
    height: 60px;
    color: #575757;
    background-color: rgb(236, 244, 245);
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;
}

.input-amount {
    text-align: center;
    color: #b0acac;
    width: 50%;
    justify-content: center;
    margin-top: 50px;
    margin-left: 335px;
}

.donate-plan {
    margin-top: 100px;
    margin-bottom: 150px;
}


.donate-plan-text {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.donation-plan-box {
    display: flex;
}

.food-box {
    width: 350px;
    height: 250px;
    background-color: rgb(159, 206, 209);
    padding: 20px;
    margin-left: 10%;
    border-radius: 8px;
}

.shelter-box {
    width: 350px;
    height: 250px;
    background-color: rgb(241, 196, 234);
    padding: 20px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 8px;
}

.education-box {
    width: 350px;
    height: 250px;
    background-color: rgb(255, 244, 214);
    padding: 20px;
    margin-right: 10%;
    border-radius: 8px;
}

.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}

.half-width img {
    width: 80%;
    border-radius: 5px;
}

.half-width p{
    color: #757474;
}

.flexible-container{
    display: flex;
    margin-bottom: 120px;
}

.updates{
    text-align: center;
}